p {
  color: #122b40;
  font-size: large;
  font-family: Tahoma, "Microsoft YaHei", Helvetica, STXihei, sans-serif;
}
li {
  color :#122b40;
  font-size: medium;
  font-family: Tahoma, "Microsoft YaHei", Helvetica, STXihei, sans-serif;;
}

.center{
  margin: 0 auto;
  width: 40%;
}

.app-container {
  background-color: #DDDDDD;
  background-size: 100% 100%;
  background-origin: border-box;
  min-height: 100%;


}
.header {
  margin-top: 1em;
  margin-bottom: 2em;
}

.logo {
  font-size: 2.2em;
  font-weight: bolder;
  color: white;
}

.content-head {
  margin-bottom: 2em;
  font-size:1.5em;
  line-height: 150%;
}

.content-content {
  margin-bottom: 2em;
  font-size:1.2em;
  line-height: 150%;
  font-family: Tahoma, "Microsoft YaHei", Helvetica, STXihei, sans-serif;
  font-weight: bold;
}

body {
  font-family: Tahoma, "Microsoft YaHei", Helvetica, STXihei, sans-serif;
}

.introduction {
  color: white;
}