p {
  color: #122b40;
  font-size: large;
  font-family: "Microsoft YaHei";
}
li {
  color :#122b40;
  font-size: medium;
  font-family: "Helvetica";
}

.center{
  margin: 0 auto;
  width: 40%;
}

.app-container {
  background-color: #DDDDDD;
  background-size: 100% 100%;
  background-origin: border-box;
  min-height: 100%;


}
.header {
  margin-top: 1em;
  margin-bottom: 2em;
}

.logo {
  font-size: 2em;
  font-weight: bolder;
  color: white;
}

.content-head {
  margin-bottom: 2em;
  font-size:1.5em;
  line-height: 150%;
}

.content-name {

}

.content-content {
  margin-bottom: 2em;
  font-size:1.2em;
  line-height: 120%;
  font-family: "Microsoft YaHei";
  font-weight: bold;
}


.thankyou {
  color: white;
}

.introduction {
  color: white;
}